{% extends 'base.html.twig' %}

{% block title %}ProStages{% endblock %}

{% block body %}
<h1>Bienvenue sur ProStages !</h1>

<p>
    Cette page présentera bientôt la liste de tous les stages vous étant proposés.
</p>
{% endblock %}