{% extends 'base.html.twig' %}

{% block title %}Stage{{ idStage }}{% endblock %}

{% block body %}
<h1>Détails du stage {{ idStage }}</h1>

<p>
    Cette page présentera bientôt les détails du stage {{ idStage }}.
</p>
{% endblock %}